.main {
  max-width: 1240px;
  height: 100vh;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  background: var(--secondary);
  padding: 2rem;

  width: 400px;
  min-height: 350px;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.title {
  color: var(--red);
  font-size: 2rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
}

.button {
  background: var(--red);
  border: none;
  border-radius: 0.625rem;
  padding: 0.625rem 1rem;

  color: var(--white);
}

.button:disabled {
  opacity: 0.3;
}
