.main {
  height: 100vh;
  max-width: 1240px;

  color: var(--white);

  margin: auto;
  padding: 2rem 0rem;
}

.mainSection {
  min-height: 100%;

  background: var(--primary);

  border-radius: 2rem;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  color: var(--red);
}

.pollCardsContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  padding: 1.125rem 0rem;
}

.button {
  background: var(--red);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;

  font-size: 1rem;
  color: var(--white);

  width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.createPollSection {
  padding: 1rem 0rem;
}

@media (max-width: 413px) {
  .button {
    width: 100%;
  }

  .title {
    text-align: center;
  }
}
