.main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  color: var(--white);
}

.section {
  width: 400px;

  background: var(--primary);
  padding: 1.5rem 2rem 2.75rem 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  gap: 1.5rem;
}

.loginTitle {
  align-self: center;
}

.usernameTakenText {
  font-size: 0.825rem;
  background-color: var(--red);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

@media (max-width: 432px) {
  .main {
    background: var(--primary);
  }

  .section {
    width: 100%;

    justify-content: center;
  }
}
