.main {
  max-width: 1240px;
  height: 100vh;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pollOptionsSection {
  background: var(--primary);
  padding: 1.5rem;
  border-radius: 1.5rem;

  width: 500px;
  min-height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--red);
}

.ul {
  list-style: none;

  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
}

.homeButton {
  width: 100%;

  font-size: 1rem;
  color: var(--white);
  font-weight: 600;

  padding: 0.625rem 0rem;
  border-radius: 0.625rem;
  border: none;
  background: var(--red);
}

.main a {
  width: 100%;
}

@media (max-width: 432px) {
  .pollOptionText {
    max-width: 200px;
  }
}
