.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 209px;
}

.label {
  color: #fff;
}

.input {
  background: var(--primary);
  border: none;
  border-radius: 0.3125rem;
  padding: 0.25rem 1rem;

  color: var(--white);
}
